@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 90.29%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header {
  background: #121e37;
  padding: 14px 0;
}

header .wrapper {
  width: 97.29%;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.logo a {
  color: #fff;
}

.logo-bold {
  font-size: 18px;
  font-weight: bolder;
  text-transform: capitalize;
}
.logo-caps {
  text-transform: uppercase;
}

.bar {
  text-indent: -9999px;
  background: #fff;
  margin: 3px 10px;
  font-size: 0;
  border-radius: 12px;
  padding: 1px 7px;
}

.menu {
  text-transform: capitalize;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/* section 1 start */
.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://media.istockphoto.com/photos/crowd-at-a-concert-picture-id538048132?k=20&m=538048132&s=612x612&w=0&h=kxQTvxdjO0xdgXEMJaQX-1d-KZAlvITEyIkkDZnSWec=")
      no-repeat center center;
  background-size: cover;
  color: #fff;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 158px 24% 158px 24%;
}

.banner-heading {
  font-size: 55px;
  font-weight: bolder;
  margin: 30px 0;
}

.banner-desc {
  font-size: large;
  text-align: center;
  line-height: 35px;
  letter-spacing: 1px;
}

.banner-btn {
  color: #fff;
  font-size: large;
  font-weight: bolder;
  text-transform: capitalize;
  border: 2px solid rgba(151, 148, 148, 0.7);
  border-radius: 5px;
  margin: 36px 0;
  padding: 15px 5%;
}
.banner-btn:hover {
  background: #fff;
  color: #121e37;
  border: 2px solid #fff;
  transition: all 0.7s ease;
}

/* section 1 end */

/* section 2 start */

.video-sec {
  background: linear-gradient(
    120deg,
    rgb(10, 22, 30),
    rgb(34, 46, 58),
    rgb(12, 20, 31)
  );
}
.sec-heading {
  text-align: center;
  padding: 87px 0 68px 0;
}
.sec-heading h3 {
  color: #fff;
  font-size: 37px;
  font-weight: bolder;
  padding: 16px 0 30px 0;
}
.sec-heading p {
  color: rgba(151, 148, 148, 0.7);
  font-size: 18px;
  letter-spacing: 1px;
}

.video-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 91px 0;
}

.card-body {
  border-radius: 5px;
  overflow: hidden;
  margin: 0 2% 0 2%;
}

.card-desc {
  background: #33414d;
  color: rgba(151, 148, 148, 0.7);
  padding: 35px 5%;
}

/* section 2 end */

/* section 3 start */

.gallery-sec {
  background: linear-gradient(
    240deg,
    rgb(22, 22, 41),
    rgb(39, 52, 73),
    rgb(22, 22, 41)
  );
}

.gallery-sec .sec-heading {
  text-align: left;
}

.gall-content {
  display: flex;
  padding-bottom: 69px;
}

.category {
  display: flex;
  flex-direction: column;
  flex-basis: 46%;
  margin-top: 5px;
}

.category li {
  /* overflow: hidden; */
  /* width: 100%; */
  margin: 4px;
}

.category a {
  display: block;
  background: #253239;
  border-radius: 5px;
  padding: 10px 6% 10px 6%;
  color: rgba(151, 148, 148, 0.7);
}

.category-active,
.category a:hover {
  color: #fff;
  background: #aa1ecc;
  transition: 0.8s ease;
}

.gall-videos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1%;
}

.gall-cards {
  margin: 10px 1.9% 22px 1.9%;
  flex-basis: 30%;
}

.gall-cards:nth-child(3n) {
  margin-right: 0;
}

.gall-cards img {
  border-radius: 4px;
}

/* section 3 end */

/* section 4 start */

.trending-sec {
  background: linear-gradient(
    90deg,
    rgb(0, 2, 3),
    rgb(38, 41, 44),
    rgb(0, 1, 3)
  );
}

.trend-videos {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 90px;
}
.trend-cards {
  flex-basis: 30%;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px 1.6%;
}

.trend-cards p {
  line-height: 30px;
  letter-spacing: 1px;
  background: #222b2a;
  color: rgb(199, 196, 196);
  padding: 30px 6%;
}

/* section 4 end */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

footer {
  background: #020a11;
}

.foot-content {
  display: flex;
  flex-wrap: wrap;
  padding: 33px 0 0 0;
}

.foot-items {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  margin: 40px 1.5%;
}

.foot-heading {
  color: #fff;
  font-size: 30px;
  font-weight: bolder;
  text-transform: capitalize;
  margin: 28px 0 35px 0;
}

.foot-links a {
  color: rgba(255, 255, 255, 0.664);
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.336);
}

.foot-links:last-child a {
  border: none;
}

.social-media {
  padding: 25px 0 87px 0;
  text-align: center;
}
.social-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-link a {
  color: #fff;
  text-indent: -9999px;
}
.social-link a::before {
  font-family: "Font Awesome 5 Brands";
  float: left;
  text-indent: 0;
}
.social-link:nth-child(1) a::before {
  content: "\f099";
}

.social-link:nth-child(2) a::before {
  content: "\f39e";
}

.social-link:nth-child(3) a::before {
  content: "\f16d";
}

.social-link:nth-child(4) a::before {
  content: "\f2ab";
}

.copyright {
  color: #33414d;
  text-transform: capitalize;
  padding: 6px 0;
}
.copyright span {
  color: #fff;
}
.copyright span:first-of-type {
  text-transform: uppercase;
}

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}
