@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 90.29%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header {
  background: #121e37;
  padding: 14px 0;
}

header .wrapper {
  width: 97.29%;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.logo a {
  color: #fff;
}

.logo-bold {
  font-size: 18px;
  font-weight: bolder;
  text-transform: capitalize;
}
.logo-caps {
  text-transform: uppercase;
}

.bar {
  text-indent: -9999px;
  background: #fff;
  margin: 3px 10px;
  font-size: 0;
  border-radius: 12px;
  padding: 1px 7px;
}

.menu {
  text-transform: capitalize;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/* section 1 start */
.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://media.istockphoto.com/photos/crowd-at-a-concert-picture-id538048132?k=20&m=538048132&s=612x612&w=0&h=kxQTvxdjO0xdgXEMJaQX-1d-KZAlvITEyIkkDZnSWec=")
      no-repeat center center;
  background-size: cover;
  color: #fff;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 158px 24% 158px 24%;
}

.banner-heading {
  font-size: 55px;
  font-weight: bolder;
  margin: 30px 0;
}

.banner-desc {
  font-size: large;
  text-align: center;
  line-height: 35px;
  letter-spacing: 1px;
}

.banner-btn {
  color: #fff;
  font-size: large;
  font-weight: bolder;
  text-transform: capitalize;
  border: 2px solid rgba(151, 148, 148, 0.7);
  border-radius: 5px;
  margin: 36px 0;
  padding: 15px 5%;
}

/* section 1 end */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}
